<div class="background">
    <br>
    <h2 style="border: 2 ; text-align: center;"> Cart  </h2>
      <hr/>
      <br>
      <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="button" routerLink="/add-product">Add Item</a></li>
          <li class="list-group-item"><a class="button" routerLink="/delete-product">Delete Item</a></li>
          <li class="list-group-item"><a class="button" routerLink="/retrieve-products">View Items</a></li>
          <li class="list-group-item"><a class="button" routerLink="/update-product">Update Items</a></li>
        </ul>
      </div>
      <hr>
    </div>
