<div class="background">
    <h2 style="border: 2px; text-align: center;">Admin </h2>
    <hr/>
    <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="button" routerLink="/add-product">Add Product</a></li>
    <li class="list-group-item"><a class="button" routerLink="/delete-product">Delete Product</a></li>
    <li class="list-group-item"><a class="button" routerLink="/update-product">Update Product</a></li>
    <li class="list-group-item"><a class="button" routerLink="/retrieve-products">Retrieve Products</a></li>
    <li class="list-group-item"><a class="button" routerLink="/view-requests">View Requests</a></li>
    <li class="list-group-item"><a class="button" routerLink="/add-employee">Add Employee</a></li>
    <li class="list-group-item"><a class="button" routerLink="/delete-employee">Delete Employee</a></li>
  </ul>
</div>
</div>