<div class="background">
  <br>
  <h2 style="border: 2 ; text-align: center;"> User  </h2>
    <hr/>
    <br>
    <div class="card" style="width: 18rem; ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="button" routerLink="/cart">Cart</a></li>
        <li class="list-group-item"><a class="button" routerLink="/orders">Order Status</a></li>
        <li class="list-group-item"><a class="button" routerLink="/profile-info">Edit Profile</a></li>
        <li class="list-group-item"><a class="button" routerLink="/add-funds">Add funds</a></li>
      </ul>
    </div>
    <hr>
  </div>
